<!DOCTYPE html>
<html ng-app="RecipeManager">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Recipe Manager</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="./stylesheets/css/style.css">
    </head>
    <body ng-controller="MainController as mainCtrl">
        <header class="topHead" ng-hide="mainCtrl.chkLocation('/','/login','/register')">
            <div class='row'>
                <div class='col-md-4'>
                    <h1><img src="./assets/img/logo.png" alt="logo"> recipe manager</h1>
                </div>
                <div class='col-md-8'>
                    <nav>
                        <ul>
                            <li>
                                <a ng-class="{active:mainCtrl.chkLocation('/dashboard')}" href ng-click="mainCtrl.setLocation('/dashboard')">
                                    <span><i class="fa fa-lg fa-home"></i></span>
                                    <span class="hidden-xs">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a ng-class="{active:mainCtrl.chkLocation('/recipes')}" href ng-click="mainCtrl.setLocation('/recipes')">
                                    <span><i class="fa fa-lg fa-book"></i></span>
                                    <span class="hidden-xs">Recipes</span>
                                </a>
                            </li>
                            <li>
                                <a ng-class="{active:mainCtrl.chkLocation('/shoplist')}" href ng-click="mainCtrl.setLocation('/shoplist')">
                                    <span><i class="fa fa-lg fa-shopping-basket"></i></span>
                                    <span class="hidden-xs">Shopping List</span>
                                </a>
                            </li>
                            <li>
                                <a ng-class="{active:mainCtrl.chkLocation('/profile')}" href ng-click="mainCtrl.setLocation('/profile')">
                                    <span><i class="fa fa-lg fa-user"></i></span>
                                    <span class="hidden-xs">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a ng-class="{active:mainCtrl.chkLocation('/settings')}" href ng-click="mainCtrl.setLocation('/settings')">
                                    <span><i class="fa fa-lg fa-cog"></i></span>
                                    <span class="hidden-xs">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <header class="topHeadWide" ng-show="mainCtrl.chkLocation('/','/login','/register')">
             <img src="./assets/img/logo.png" alt="logo">
             <h1>recipe manager</h1>
        </header>
        <main class="container">
            <div ng-view></div>
        </main>
        <footer>

        </footer>
        <!-- Scripts -->
        <script src="./components/jquery/dist/jquery.min.js"></script>
        <script src="./components/angular/angular.min.js"></script>
        <script src="./components/angular-route/angular-route.min.js"></script>
        <script src="./components/angular-resource/angular-resource.min.js"></script>
        <script src="./scripts/app.js"></script>
        <script src="./scripts/routes.js"></script>
        <script src="./scripts/services/api.js"></script>
        <script src="./scripts/controllers/MainController.js"></script>
        <script src="./scripts/controllers/HomeController.js"></script>
        <script src="./scripts/controllers/RegistrationController.js"></script>
        <script src="./scripts/controllers/LoginController.js"></script>
        <script src="./scripts/controllers/DashController.js"></script>
    </body>
</html>