<div class='row loginFormRow'>
    <div class='col-md-6 col-md-offset-3'>
        <form class="text-center">
            <div class="form-group">
                <input type="email" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login to Account</button>
        </form>
    </div>
</div>
