<div class='row text-center' ng-controller="HomeController as homeCtrl">
    <div class='col-md-4 col-md-offset-4'>
        <h1>Welcome</h1>
        <p class="lead"><em>Manage your recipes with ease</em></p>
        <hr>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="homeCtrl.login()">
            Log In
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="homeCtrl.register()">
            Register
        </button>
        <hr>
        <div class="alert alert-danger" ng-show="homeCtrl.registerChk">
            You're currently logged in from an existing account. 
            Are you sure you want to register a new account?<br>
            If yes, then click the <strong>Register</strong> button again (<em>You'll be logged out of your existing account</em>), or else, 
            click the <strong>Log In</strong> button to go to your Dashboard.
        </div>
    </div>
</div>